*,
*::before,
*::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body{
  font-family: roboto;
  box-sizing: border-box;
  line-height: 1.4;
}



@media only screen and (max-width: 75em){
  html{
    font-size: 56.35%;
  }

  body{
    padding: 1rem;
  }
}


@media only screen and (max-width: 56.25em) {
  html{
    font-size: 50%;
  }
}